 <configuration>
<system.webServer>
      <httpProtocol>
       <customHeaders>
            <add name="Access-Control-Allow-Origin" value="*" />
            <add name="Access-Control-Allow-Methods" value="GET,POST,OPTIONS,FILE" />
            <add name="Access-Control-Allow-Headers" value="Content-Type" />
       </customHeaders>
      </httpProtocol>
        <directoryBrowse enabled="true" />   	
       <handlers> 
    <add name="User_validation" verb="*" path="*.ashx" type="System.Web.UI.SimpleHandlerFactory" />
  </handlers>
 </system.webServer>
   <system.web>
 <customErrors mode="Off" />
      <compilation>
         <assemblies>
         <add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
         <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         </assemblies>
      </compilation>
   <httpRuntime maxRequestLength="1048576" />
 
   </system.web>
 </configuration>